:root {
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --main-btn-color: #ffffff;
  --second-btn-color: #303030;
  --accent-color: #ff6c00;
}

body {
  font-family: 'Open Sans', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

/* UTILITIES */

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.btn {
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
}

.btn:is(:hover, :focus) {
  color: var(--main-btn-color);
  background-color: var(--accent-color);
}

.top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.container {
  width: calc(1170px + 16px + 16px);
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;

  background-color: rgb(0, 128, 0);
  outline: 1px solid black;
}

img {
  display: block;
  max-width: 100%;
}

/* END UTILITIES */

/* HEADER */

.header {
  background-color: gray;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 131px;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.header-link:hover,
.header-link:focus {
  color: #ff6c00;
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 43px;
}

.header-btn {
  color: var(--main-btn-color);
  border: 1px solid #ff6c00;
  border-radius: 25px;
}

/* -------- HERO ------- */

.hero {
  background-color: #303030;
}

.hero-container {
  display: flex;
}

.hero-list {
}

.hero-item {
}

.hero-link {
  font-weight: 600;
  font-size: 11px;

  line-height: 1.36;
  letter-spacing: 0.2em;

  color: #303030;
}

.hero-link:hover,
.hero-link:focus {
  color: #ff6c00;
}

.hero-top-text {
  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  line-height: 1.18;

  letter-spacing: 0.05em;

  color: var(--main-title-color, #ffffff);
}

.hero-bottom-text {
  color: #9da4bd;
}

/* End HERO */

/*-------- About ----------*/

.about {
}

.about-list {
}

.about-item {
}

.about-top-text {
  color: #303030;
}

.about-title {
  color: var(--second-title-color);
}

.about-bottom-text {
  color: #555555;
}

.about-text {
  font-size: 14px;
  line-height: 1.86;

  letter-spacing: 0.02em;

  color: #555555;
}

.about-btn {
  color: var(--second-btn-color);
}

/*-------- end About ----------*/

/*-------- Prices ----------*/

.prices {
  background-color: #303030;
}
.prices-top-text {
  color: rgba(157, 164, 189, 0.6);
}

.prices-title {
  color: var(--main-title-color);
}
.prices-list {
}

.prices-item {
}
.prices-item-text {
  font-size: 18px;
  line-height: 1.67;

  letter-spacing: 0.02em;

  color: #9da4bd;
}

.prices-btn {
  color: var(--main-btn-color);
}

.prices-btn:hover,
.prices-btn:focus {
  color: var(--main-btn-color);
  background: var(--accent-color);
}

/* --------- benefits ------ */

.benefits {
}
.benefits-list {
}
.benefits-item {
}
.benefits-item .count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;

  color: #303030;
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;

  color: #303030;
}

.benefits-top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  text-transform: uppercase;

  color: #303030;
}

.benefits-title {
  color: var(--second-title-color);
}

.benefits-bottom-text {
  color: #555555;
}

/* ---------------- barbers -------------- */

.barbers-top-text {
  color: #303030;
}

.barbers-title {
  color: var(--second-title-color);
}

.barbers-list {
}

.barbers-item {
}

.barbers-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}

.barbers-item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/* ---------------- GALLERY -------------- */

.gallery-toptext {
  color: #303030;
}
